 .navbar {
  background-color: black;
  color: #ddd;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4pxx solid #ddd;
  width: 100%;
  position: fixed; 
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 2em;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding-right: 456px;
  display: flex;
  align-items: center;

}

.nav-links li {
  margin-right: 2em;
}

.nav-links a {
  text-decoration: none;
  color: #797b6b;
  transition: color 0.2s ease-in-out;
  font-weight: bold;
}

.nav-links a:hover {
  color: rgb(240, 246, 252);
}

.nav-actions {
  display: flex;
  align-items: center;

}

.hero-section {
  background-image: linear-gradient(to bottom, #090909, #020202);
  background-size: 100% 300px;
  background-position: 0% 100%;
  padding: 4em;
  color: #797b6b;;
  text-align: center;
  
  }
  h3{
    color: #ddd;
    padding-left: 900PX;
    padding-top: 688x;
  }
  
  .hero{
    background-image:url(./images/img.png) ;
    background-size: cover;
    height: 105vh;
    
    background-position: center;
    border-radius: 10px;
    margin-top: 10px;
  }

  .hero-overlay{
    background: rgba(0,0,0,0.6);
    height: 100%;
    color: var(--accent-color);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
  }
  .hero h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  padding-top: 156px;
  padding-left: 156px;
  font-weight: bold;
  }
  
  .hero span{
  font-size: 1.2em;
  margin-bottom: 1.5em;
  font-weight: bold;
  padding-left: 156px;
  }
  

.indicator-btn {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.indicator-btn.active {
  background-color: #333;
}

@media screen and (max-width:950px) {

.logo{
width: 13px ;
  
}
  .navbar {
  display: ;

  
  }
  
  .nav-links {
    flex-direction: row;
    justify-content: space-between;
   display: none;
   
  }
  .nav-item{
    margin: 16px 0;
  }
  
  .nav-actions {
    flex-direction: row;
    justify-content: space-between;
  }

  
}
.nav-menu{
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: #beb0b0;
  width: 100%;
  text-align: center;
}
.nav-menu.active{
  left: 0;
}

.footer {
background-color: black;
color: #797b6b; ;
padding: 20px;
}

.footer-container {
max-width: 1200px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.footer-column {
flex-basis: 30%;
margin-bottom: 20px;
}

.footer-column h4 {
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
}

.footer-column ul {
list-style: none;
margin: 0;
padding: 0;
}

.footer-column li {
margin-bottom: 10px;
}

.footer-column a {
color: #fff;
text-decoration: none;
}

.footer-copyright {
text-align: center;
margin-top: 20px;
}